@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheethttps://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-gradient-pan: gradient-pan 6s ease infinite;

  @keyframes gradient-pan {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
    50% { background-position: 100% center; }
  }
}

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}